@media screen and ( max-width: 1700px ) {
    .modal {
        &__heading {
            font-size: 22px;
        }

        &__info {
            padding: 0 2rem;
            max-width: calc(100% - 4rem);
        }
    }

    .sidebar {
        width: 40%;
    }
}

@media screen and ( max-width: 1200px ) {
    .modal {
        &__header {
            padding: 1rem;
        }

        &__heading {
            font-size: 18px;
            line-height: 1.5;
        }

        &__info {
            padding: 0 1rem;
            max-width: calc(100% - 2rem);
        }
    }

    .container {
        height: unset;
        min-height: 500px;
    }

    // sidebar
    .sidebar {
        width: 50%;
        height: 100vh;

        &__logo {
            img {
                width: 100%;
            }
        }

        &__info {
            bottom: 7rem;
        }

        &__title {
            font-size: 28px;
            line-height: 36px;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
        }
    }

    // content

    .content {
        &__membership {
            margin-top: 3rem;
        }
    }
}

@media screen and ( max-width: 991px ) {
    .modal {
        &__content {
            width: 80%;
        }
    }

    .sidebar {
        width: 50%;
    }

    .content {
        // header
        &__back {
            font-size: 14px;
        }

        &__icon {
            width: 20px;
        }

        &__login {
            font-size: 13px;
        }

        // membership
        
        &__title {
            font-size: 21px;
            margin-bottom: 0;
        }

        &__subtitle {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 2rem;
        }

        &__input {
            input {
                padding: 16px 55px;
            }
        }

        &__button {
            height: 60px;
            padding: 0 20px;
            font-size: 16px;
        }

        // footer
    
        &__footer {
            bottom: 1.5rem;
        }

        &__copyright {
            font-size: 14px;
        }

        &__help {
            font-size: 14px;
        }
    }
}

@media screen and ( max-width: 767px ) {
    .modal {
        &__content {
            max-width: 95%;
        }

        &__close {
            top: 1rem;
            right: 1rem;
        }
    }

    // conainer
    .container {
        height: unset;
        flex-direction: column;
    }

    // sidebar
    .sidebar {
        width: 100%;

        &__info {
            bottom: 5rem;
        }
    }

    // content

    .content {
        width: calc(100% - 4rem);

        &__header {
            align-items: center;
        }

        &__back {
            font-size: 14px;
        }

        &__login {
            font-size: 12px;
        }

        &__footer {
            position: unset;

            margin: 0 auto;
            margin-top: 2rem;
        }
    }
}

@media screen and ( max-width: 576px ) {
    .modal {
        &__heading {
            font-size: 16px;
        }

        &__info {
            .content__input input {
                font-size: 14px;

                &::placeholder {
                    font-size: 14px;
                }
            }

            .content__field_error input {
                padding-right: 90px;
            }
            
            .content__field_error .content__error {
                font-size: 13px;
            }
        }

        &__title {
            font-size: 14px;
        }

        &__text {
            font-size: 14px;
        }

        // modal_success
        &_success {
            .modal__content {
                width: 95%;
            }
        }

        &__message {
            .modal__p {
                font-size: 16px;
            }
        }

    }

    .content {
        // header
        &__signed {
            display: none;
        }

        // membership 
        &__input {
            input {
                font-size: 14px;
            }
        }

        &__button {
            display: flex;
            span {
                width: auto;
            }
        }

        // footer
        &__footer {
            flex-direction: column-reverse;
            bottom: .5rem;
            text-align: center;
        }

        &__help {
            display: flex;
            width: auto;
        }

        &__login {
            display: flex;
            width: auto;
        }

        &__show {
            font-size: 12px;
        }

        &__error {
            font-size: 12px;
        }
    }
}

@media screen and ( max-width: 350px ) {
    .modal {
        &__content {
            width: 95%;
        }
    }

    .content {
        &__input {
            input {
                padding: 8px 50px;
                font-size: 12px;
            }
        }

        &__show {
            font-size: 10px;
        }

        &__button {
            height: 46px;
            font-size: 14px;

            svg {
                width: 20px;
            }
        }

        &__issue {
            font-size: 14px;
        }
    }
}

@media screen and ( max-width: 300px ) {
    .content {
        padding: 1rem;
        width: calc(100% - 2rem);
        
        &__input input{
            background-size: 15px;
        }

        &__login {
            font-size: 11px;
        }

        &__back {
            font-size: 12px;
        }

        &__title {
            font-size: 18px;
        }

        &__subtitle {
            font-size: 11px;
        }

        &__error {
            font-size: 12px;
        }

        &__success p {
            font-size: 13px;
        }
    }
}


// width & height

@media screen and (min-width: 769px) and (max-height: 850px) {
    .container {
        height: auto;
    }

    .sidebar {
        height: auto;
    }

    .content {
        min-height: 850px;
    }
}